{% extends "admin_base.html" %} <!-- extends base.html and allows any blocks to be overridden here-->
{% block title %}User {{user.id}}{% endblock %}

<!-- NOT DONEcontent that we want displayed on home page goes here-->
{% block content %}
<br/>

<div align="center">

    <div class="container p-3 my-3 border shadow bg-white rounded">

        <h1>{{see_user.firstName}} {{see_user.lastName}}</h1>

        <div class="row">

            <div class="col" style="margin: 2%;">
                <br/>
            
                <table class="table table-sm" style="max-width: 600px;">
            
                    <tbody>
                        <!-- <tr>
                        <td class="font-weight-light" scope="row">First</td>
                        <td>{{see_user.firstName}}</td>
                        </tr>
                        <tr>
                        <td class="font-weight-light"  scope="row">Last</td>
                        <td>{{see_user.lastName}}</td>
                        </tr> -->
                        <tr> 
                            <td class="font-weight-light"  scope="row">Email</td>
                            <td>{{see_user.email}}</td>
                            </tr>
                        <tr>
                            <td class="font-weight-light"  scope="row">Phone Number</td>
                            <td>{{see_user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-light"  scope="row">Role</td>
                            <td>{{see_user.role}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-light"  scope="row">Date Joined</td>
                            <td class="text-secondary">{{see_user.datetime_joined}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-light"  scope="row">User ID</td>
                            <td class="text-secondary">{{see_user.id}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-light"  scope="row">Admin Access</td>
            
                            {% if see_user.is_admin %}
                                <td class="text-danger">Yes</td>
                            {% else %}
                                <td class="text-secondary">No</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>

                
                
            </div>

            <div class="col-auto"  style="margin: 2%;">
                <a class="btn btn-primary btnl-lg" style="width: 100%" href="{{Excel_File_Name}}" role="button" download>Download <strong>{{see_user.firstName}}</strong>'s Shifts</a>


                <form method="POST"> <!-- HTTP post-->
                    <div class="form-group" align="center">
                        <div align="center" class = "input-group justify-content-center" style="margin: 2%;">

                            <div class="col-xs-6">
                                <label for="starting-date">Starting Date</label>
                                <input type="date" class="form-control" id="starting-date" name="starting-date" value="{{previous_starting_date}}"/> <!-- html time input type works with YYYY-MM-DD date-->
                                <br/>
                                
                                
                                <button type="submit" class="btn btn-secondary" name="btn" value="past-week-time-range"> << One Week </button>
                                <br/>
                                <br/>

                                <button type="submit" class="btn btn-dark" name="btn" value="past-pay-period-time-range">Past Pay Period</button>
                            </div>

                            <div class="col-xs-6">
                                <label for="ending-date">Ending Date</label>  
                                <input type="date" class="form-control" id="ending-date" name="ending-date" value="{{previous_ending_date}}"/> <!-- html time input type works with YYYY-MM-DD date-->
                            
                                <br/>

                                <button type="submit" class="btn btn-secondary" name="btn" value="next-week-time-range"> One Week >> </button>
                                <br/>
                                <br/>

                                <button type="submit" class="btn btn-dark" name="btn" value="update-time-range">Update Time Range</button>
                            </div>
                        </div>

                      

                       
                        
                        



                    </div>

                </form>
            </div>


            
        </div>
    </div>


    <br/>

   


    <div class="table-responsive container p-3 my-3 border shadow bg-white rounded">

        <h1 align="center">Shifts</h1>
      
        <br/>
        
        {% include 'user_shifts_table.html' %}
    </div>
      
</div>



{% endblock %}