{% extends "base.html" %} <!-- extends base.html and allows any blocks to be overridden here-->
{% block title %}Home{% endblock %}

<!-- content that we want displayed on home page goes here-->
{% block content %}
<br/>

<div class="container p-3 my-3 border shadow bg-white rounded">
    <form method="POST"> <!-- HTTP post-->
        <div class="form-group" align="center">

            {% if user.activeShift_id == 0 %}
                <h1>New Shift</h1>

                <br/>

                <label for="client-id">Choose a client</label>
                <select id="client-id" name="client-id" class="form-select form-select-lg">
                    {% for client in all_clients %}
                        <option value="{{client.id}}">{{client.firstName}} {{client.lastName}}</option>
                    {% endfor %}
                </select>
                
                <br/>

                <button type="submit" style="width: 400px; height: 100px" class="btn btn-success btn-lg" name="btn" value="clockin">
                    <h4 class="font-weight-bold">Clock In</h4>
                </button>

            {% else %}
                <h1>Current Shift</h1>

                <br/>

                <label for="client-id">Change client</label>
                <select id="client-id" name="client-id" class="form-select form-select-lg">
                    {% for client in all_clients %}
                        <option value="{{client.id}}">{{client.firstName}} {{client.lastName}}</option>
                    {% endfor %}
                </select>

                <br/>

                <button type="submit" style="width: 400px; height: 100px" class="btn btn-danger btn-lg" name="btn" value="clockout">
                    <h4 class="font-weight-bold">Clock Out</h4>
                </button>


                <br/>


                <label for="time-in">Time In</label>
                <input type="time" class="form-control" id="time-in" name="time-in" placeholder="Time in"/>
    
                <label for="time-out">Time Out</label>
                <input type="time" class="form-control" id="time-out" name="time-out" placeholder="Time out"/>


                <button type="submit" class="btn btn-primary" name="btn" value="current-shift-update">Update Shift</button>



            {% endif %}

        <br/>



        </div>
    </form>
</div>


<div class="container p-3 my-3 border shadow bg-white rounded">
    <h1 align="center">Your Notes Page</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">{{ note.data }}
            <button type="button" class="close" onClick="deleteNote({{ note.id }})"> <!-- javascript to send backend request to delete note-->
                <span aria-hidden="true">&times;</span> <!-- the x out button-->
            </button>
        </li>

        {% endfor %}
    </ul>


    <form method="POST"> <!-- HTTP post-->
        <textarea name="note" id="note" class="form-control"></textarea>

        <br />

        <div align="center">
            <button type="submit" value="notes" name="btn" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>

{% endblock %}